<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

	<select id="getUserInfo" resultType="com.example.demo.model.UserInfo">
        select tu.training_path,  count(tu.id)
		from tb_psct_code tpc , tb_user tu 
		where tpc.stff_id = #{id} and tpc.inst_id  = #{instId} and tpc.psct_code = tu.psct_code and tpc.uid = tu.uid and tpc.name=tu.name
		group by tu.training_path ;
    </select>
    
    <select id="getUserNumber">
    	select count(tu.id) as total
		from tb_psct_code tpc , tb_user tu 
		where tpc.stff_id = #{id} and tpc.inst_id  = #{instId} and tpc.psct_code = tu.psct_code and tpc.uid = tu.uid and tpc.name=tu.name
    </select>

</mapper>
